:root {
    --link-color: #ffffff;
    --link-active-color: #FF6C00;
    --heading-color: #ffffff;
    --text-font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'Raleway', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--heading-font-family);
}

ul {
    list-style-type: none;
}

.button {
    color: var(--link-color);
    font-size: 12px;
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    background-color: transparent;
}

.global-header {
    background-color: #333333;
}

.global-header .main-navigation a,
.global-header .main-navigation a:visited,
.phone-number {
    color: var(--link-color);
    font-size: 12px;
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.global-header .main-navigation a.active {
    color: var(--link-active-color);
}

.global-header .social-links {
    color: var(--link-color);
    font-size: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.global-header .social-links.active {
    color: var(--link-active-color);
}

.phone-number {
    text-transform: uppercase;
}

.hero-heading {
    color: var(--heading-color);
    font-size: 72px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px; 
}

.hero-section {
    background-color: #363636;
}

