:root {
    --link-color: #ffffff;
    --link-active-color: #FF6C00;
    --heading-color: #ffffff;
    --text-font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'Raleway', sans-serif;
    --section-background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--heading-font-family);
}

ul {
    list-style-type: none;
}

.button {
    color: var(--link-color);
    font-size: 12px;
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    background-color: transparent;
}

.header-container {
    display: flex;
}

.global-aside {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.global-aside-links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

img.dash {
    width: 1px;
    height: 60px;
}

.header-container-content {
    width: 100%;
}

.header-container-content .hero-section {
    padding: 50px;
    background-color: #363636;
}

.hero-section .control-buttons {
    margin-top: 142px;
    display: flex;
    justify-content: flex-end;
}

.global-header {
    background-color: #333333;
    display: flex;
    padding: 40px 50px 40px 100px;
    justify-content: space-between;
    width: 100%;
}

.global-header .main-navigation ul {
    display: flex;
    width: 450px;
    justify-content: space-evenly;
}

.global-header .main-navigation a,
.global-header .main-navigation a:visited,
.phone-number {
    color: var(--link-color);
    font-size: 12px;
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.global-header .main-navigation a.active {
    color: var(--link-active-color);
}

.global-header .social-links {
    color: var(--link-color);
    font-size: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.global-header .social-links.active {
    color: var(--link-active-color);
}

.global-header-aside {
    background-color: var(--section-background-color);
}

.hero-heading {
    color: var(--heading-color);
    font-size: 72px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
}

.section-light {
    background-color: var(--section-background-color);
}

.section-light.about-section {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.section-light.about-section img {
    width: 270px;
}

.about-section .section-description {
    width: 600px;
}

.section-dark {
    background-color: #363636;
}

.prices {
    display: flex;
    margin-top: 46px;
}